certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.4.1
Django==1.10
django-bootstrap3==7.0.1
django-braces==1.9.0
django-oauth-toolkit==0.10.0
django-rest-framework-social-oauth2==1.0.4
djangorestframework==3.4.3
gunicorn==19.6.0
oauthlib==1.0.3
Pillow==5.1.0
PyJWT==1.6.1
python-social-auth==0.2.21
python3-openid==3.1.0
pytz==2018.4
requests==2.11.1
requests-oauthlib==0.8.0
six==1.11.0
stripe==1.37.0
whitenoise==3.2.1
