{% extends 'base_signup.html' %}
{% load bootstrap3 %}


{% block title %}Sign In{% endblock %}
{% block heading %}Restaurant - Sign In{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form restaurant_form %}
        <button type="submit" class="btn btn-pink pull-right">Sign Up</button>
    </form>
    Already have a account? <a href="{% url 'restaurant-sign-in' %}">Sign-In</a>

{% endblock %}
